<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <style>
        table {
            width: 100%;
            border: 1px solid #444444;
        }
        th, td {
            border: 1px solid #444444;
        }
    </style>
</head>
<body>
<input type="button" th:onclick="|location.href='@{/posts/new}'|" value="글쓰기">
<table>
    <tr>
        <th>카테고리</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일자</th>
        <th>추천수</th>
    </tr>
    <tr th:each="post: ${posts}">
        <td th:value="${post.category}" th:text="${post.category}"></td>
        <td th:value="${post.title}" th:text="${post.title}"
            th:onclick="|location.href='@{/posts/{postId}(postId=${post.id})}'|"
            style="cursor:pointer"></td>
        <td th:value="${post.writer}" th:text="${post.writer}"></td>
        <td th:value="${post.createDate}" th:text="${post.createDate}"></td>
        <td th:value="${post.likeNumber}" th:text="${post.likeNumber}"></td>
    </tr>
</table>
</body>
</html>